*{
  padding: 0px;
  margin: 0px;
}
.head{
  display: flex;
  background-color: #fff;
  padding: 1%;
  box-shadow: 0px 0px 1px 2px rgb(217, 216, 219);
  background: linear-gradient(#b4a8a8, #cad3ba);

}
.left{
  width: 20%;
  display: flex;
}
.left h2{
  margin-left: 5%;
  font-family: sans-serif;
}
.middle{
  width: 50%;
  display: flex;
}
.middle h3{
  font-family: sans-serif;
  font-size: 20;
  margin-top: -1px;
}
.right{
  width: 25%;
  display: flex;
  justify-content: right;
}
.right button{
  background-color: #635fc7;
  color: white;
  padding: 3%;
  font-size: 15;
  border-radius: 50px;
  cursor: pointer;
}
.headerImg{
  width: 10%;
  height: 80%;
}
body{
  background-color: #f4f7fd;
  background-image: url('https://c4.wallpaperflare.com/wallpaper/632/34/549/technology-monitor-alpha-coders-binary-wallpaper-preview.jpg');
}
.data{
 box-shadow: 1PX 1PX 1PX 1PX rgb(142, 136, 136);
  padding: 6%;
  margin-top: 6%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  border-radius: 5px;
}

#todo{
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: space-evenly;
}
h3{
  text-align: center;
  margin-top: 2%;
  font-family: sans-serif;
  color: white;
  margin-top: 5%;
}
.platform{
  color: black;
}
.pop{
  width: 350px;
  background-color: #fbf9f9;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  height: 65%;
  margin: 1%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1);
  padding: 0 30px 30px;
  color: #333;
  border: solid;
  transition: transform 0.9s, top 2s;
}
.popheading{
  margin-top: 6%;
  font-size: 21px;
  padding: 1%;
  font-family: sans-serif;
}
#popinput{
  width: 100%;
  padding: 2%;
  border: solid 1px;
  margin-top: 2%;
  border-radius: 5px;
}
#popsecondinput{
  width: 100%;
  padding: 2%;
  margin-top: 2%;
  border: solid 1px;
  border-radius: 5px;
}
.firtpop{
  margin-top: 6%;
}
label{
  font-size: 25;
  margin-bottom: 5%;
}
.currentstatus{
  font-size: 18px;
  margin-top: 5%;
}
#status{
  width: 100%;
  padding: 1%;
  margin-top: 2%;
  border: solid 2px;
  border-radius: 5px;
  
}
.cretnbtn{
  width: 100%;
  margin-top: 11%;
  padding: 3%;
  background-color: rgb(52 168 83);
  cursor: pointer;
  color: white;
  border-radius: 5px;
  font-size: 20;
}
label{
  font-size: 18px;
  line-height: 5px;
}
